## Auth riskiamad@gmail.com
#=======================================================================================================
#APP
#=======================================================================================================
APP_RUNMODE=true
APP_JWT_SECRET=xxx
APP_GZIP=true
#=======================================================================================================
GIN_MODE=release
#=======================================================================================================
# SERVER
#=======================================================================================================
SERVER_HOST=127.0.0.1:8080
SERVER_SSL=false
SERVER_CERT=
SERVER_KEY=
#=======================================================================================================

#=======================================================================================================
# DATABASE
#=======================================================================================================
DB_ENGINE=mysql
DB_HOST=127.0.0.1:3306
DB_NAME=task_scheduler
DB_USER=root
DB_PASS=

#=======================================================================================================
# REDIS_DB
#=======================================================================================================
<!-- REDIS_HOST=127.0.0.1:6379
REDIS_PASSWORD=
REDIS_DB=0 -->
#=======================================================================================================
